body {
    font: 20px 'Open Sans', sans-serif;
    line-height: 1.8;
    color: white;
}

.bg-1 {
    background-color: white;
    color: black;
    min-height: 1000px;
}

footer {
    background-color: white;
    color: black;
    position: relative;
    width: 100%;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
    background: white;
    color: black;
}

.dropdown-toggle {
    background-color: white;
}

#caret {
    border-top-color: white;
    border-bottom-color: white;
}

.dropdown-menu {
    background-color: #F7F7F9; /* Green */
    color: #18BC9C;
}

.dropdown-menu > li > a {
    background-color: white; /* Green */
    color: #18BC9C;
}

.navbar-nav > .open > a:focus {
    background-color: #50E3C2 !important;
}
.navbar-nav li a:hover {
    color: black !important;
}

.navbar-nav > li > a {
    color: black !important;
}

.navbar-toggle{
    background: #18BC9C;
    color: black;
}

.year {
    padding-left: 5%;
    background: rgba(74,73,74,0.39);
    width: 100%;
    color: white;
    line-height: 40px;
    border-radius: 5px;
    transition: background 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.year:hover{
    cursor: pointer;
}
.expand {
    position: absolute;
    right: 5%;
    font-size: 120%;
}

.games {
    display: none;
}

.game {
    min-height: 35px;
    font-size: 80%;
    width: 96%;
    position: relative;
    left: 2%;
    color: black;
    padding-left: 10%;
    background: whitesmoke;
    border-radius: 5px;
    margin: 2px 0 2px 0;
    transition: background 0.3s;
    cursor: pointer;
}

.gameRate, .gameName, .gameGenre {
    position: absolute;
    text-align: center;
    line-height: 35px;
}

.gameName {
    left: 0;
    width: 50%;
    font-family: 'Merriweather', serif;
}
.gameGenre {
    left: 50%;
    width: 25%;
    font-family: 'Merriweather', serif;
}

.gameRate{
    left: 75%;
    width: 25%;
    font-family: 'Merriweather', serif;
}

.selected {
    background: #4A4A4A !important;
}

.navbar-brand {
    color: black !important;
}